{% extends "base.html" %}

{% block content %}
<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center p-0 m-0">
    <div class="text-center p-5">
        <h1 class="fw-bold text-primary mb-4">About Us</h1>
        <h5 class="text-dark">Welcome to <span class="text-success">Lost & Found Network</span></h5>
        <p class="text-muted mt-5">
          <strong> Lost & Found Network is a platform designed to help people reunite with their lost items.
            Whether you've lost something precious or found an item that belongs to someone else,
            our platform makes it easy to connect and return items to their rightful owners.</strong> 
        </p>
        <p class="text-muted">
           <strong> Our mission is to create a community where people can help each other by posting lost and found items,
            answering security questions, and sharing contact information securely.</strong>
        </p>
        <p class="text-muted">
            <strong> you for being a part of our community!</strong>
        </p>
    </div>
    <div class="text-center">
        <img src="https://th.bing.com/th/id/OIP.vS4vTV5cO7wUx8hp_xrKawHaHa?rs=1&pid=ImgDetMain" 
             alt="Lost and Found" class="img-fluid" style="max-width: 400px; height: auto;">
    </div>
</div>
{% endblock %}
